.explanation {
  height: calc(100vh);
  width: 100vw;
}

.explanation img {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.explanation p {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.explanation {
  font-family: 'Lato';
  color: #fdfdfd;
}

.explanation p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}

.explanation span {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

