.Defis {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;

  .Defis-title {
    padding-top: 30px;
  }
  .Defis-subtitle {
    padding-top: 30px;
  }
}

.Defis {
  font-family: "Lato";
  .Defis-title {
    font-size: 28px;
    font-weight: 700;
    color: black;
    text-align: center;
  }
  .Defis-subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #f9572d;
    text-align: left;
  }
  .Defis-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #9f9f9f;
  }
}
