.parcours {
  max-width: 728px;
  margin: 0 auto;
}

.parcours {
  font-family: 'Lato';
}
.parcours h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #000;
}
.parcours h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #f9572d;
}
.parcours p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #9f9f9f;
}