.defi {
  position: relative;
  .back-button {
    position: absolute;
    top: 30px;
    left: 15px;
  }
}

.defi__header {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.defi__mardown {
  max-width: 768px;
  margin: 50px auto 0;
}
.defi__mardown img {
  width: auto;
  height: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}


.defi {
  font-family: 'Lato';
}
.defi__header h2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.defi__header h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.defi__mardown p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #9f9f9f;
}
.defi__mardown h2 {
  font-size: 24px;
  font-weight: 700;
  color: #f9572d;
}
