@import './../../static/scss/fonts.scss';

.entete__chapitre-container-data {
    width:80%;
    height: 100%;
    margin-top: 20vh;
    @media (min-width: 992px) {
        margin-top: 10vh;
    }
    .entete__chapitre-h2 {
        font-family: "Lato";
        font-weight: 900;
        color: #FFFFFF;
        font-size: 24px;
        width:100vw; 
        height: 100%;
        text-align: center;
        @media (min-width: 800px) {
            font-size: 28px;
        }
        @media (min-width: 992px) {
            font-size: 32px;
        }
    }
    .entete__chapitre-h1 {
        font-family: "Lato";
        font-weight: 900;
        color: #FFFFFF;
        font-size: 36px;
        width:100vw;
        height: 100%;
        text-align: center;
        @media (min-width: 800px) {
            font-size: 40px;
        }
        @media (min-width: 992px) {
            font-size: 48px;
        }
    }

    .entete__chapitre--image {
        margin-top: 23%;
        margin-left: 50vw;
        transform: translateX(-50%);
        @media (min-width: 500px) {
            margin-top: 22%;
        }
        @media (min-width: 576px) {
            margin-top: 21%;
        }
        @media (min-width: 768px) {
            margin-top: 14%;
        }
        @media (min-width: 800px) {
            margin-top: 14%;
            
        }
        @media (min-width: 992px) {
            margin-top: 10%;
        }
    }

    .entete__chapitre--text-container {
        width: 80%;
        margin-left: 50vw;
        transform: translateX(-50%);
        margin-top: 30px;
        text-align: center;
        color: white;
        font-family: "Lato";
        font-weight: 500;
        line-height: 150%;
        font-size: 18px;
        .entete__chapitre--text {
            
            @media (min-width: 800px) {
                padding-left: 15%;
                padding-right: 15%;
                
            }
            @media (min-width: 992px) {
                padding-left: 25%;
                padding-right: 25%;
            }
        }
        
    }
}

.back-button {
    margin-top: 30px;
    width: 20px;
    height: 18px;
    margin-left: 15px;
}