.container {
    padding-left: 15px;
    padding-right: 15px;
}

.quizz-container {
    margin-top: 60px;
    height: calc(100vh - 60px - 80px);
    
    @media (min-width: 576px) {
        padding-left: 15%;
        padding-right: 15%;
    }
    @media (min-width: 768px) {
        padding-left: 20%;
        padding-right: 20%;
    }

    @media (min-width: 992px) {
        padding-left: 25%;
        padding-right: 25%;
    }
    @media (min-width: 1100px) {
        padding-left: 30%;
        padding-right: 30%;
    }
    @media (min-width: 1200px) {
        padding-left: 30%;
        padding-right: 30%;
    }
    .quizz-content {
        height: 100%;
    }

    .quizz__quizz-subtitle {
        margin-top: 90px;
        h2 {
            font-family: 'Lato';
            font-size: 16px;
            font-weight: bold;
            color: #C1C1C1;
            text-transform: uppercase;
            @media (min-width: 768px) {
                font-size: 24px;
                text-align: center;
            }
        }
    }

    .quizz__quizz-question {
        margin-top: 20px;
        h1 {
            font-family: 'Lato';
            font-size: 24px;
            font-weight: bold;
            color: #3D3D3D;
            line-height: 150%;
            @media (min-width: 768px) {
                font-size: 32px;
                text-align: center;
            }
        }
        
        
    }
    .quizz__quizz-reponses {
        margin-top: 50px;
        @media (min-width: 768px) {
            margin-top: 50px;
        }
    }
}
