.background-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left:50%;

    z-index: -1;
    transform: translate(-50%,-50%);
    .background-image {
        width: 100%;
        height: 100%;
    }
}