.buttons-container {
    position: absolute;
    bottom: 30px;
    @media (min-width: 768px) {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .social-sharing--title {
        margin-top: 15px;
        text-align: center;
        color: white;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 300;
    }
    .button__social__sharing-container {
        margin-left: 15px;
        margin-bottom: 10px;
        .share-button {
            display: inline-block;
            width: calc(50vw - 16px);
            height: 50px;
            background: white;
            border-radius: 5px;
            position: relative;
            @media (min-width: 768px) {
                width: calc(25vw - 16px);
            }
            @media (min-width: 992px) {
                width: calc(20vw - 16px);
            }
            
            .share-button__icon__text--container {
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;

                font-family: "Lato";
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;

                display: flex;
                align-items: baseline;
                justify-content: center;

                .button__text {
                    transform: translateY(-25%);
                    margin-left: 10px;
                }
            }
            
        }
        .messenger-share__button {
            margin-right: 5px;
        }

    }

    .button__next-container {
        height: 50px;
        width: calc(100vw - 30px);
        margin-left: 15px;
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        position: relative;
        @media (min-width: 768px) {
            width: calc(50vw - 30px);
        }
        @media (min-width: 992px) {
            width: calc(40vw - 30px);
        }
        .button__text {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            font-family: "Lato";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;

            display: flex;
            align-items: baseline;
            justify-content: center;
            color: white;
        }
    }
}

