.defis {
  max-width: 768px;
  margin: 0 auto;
}


.defis {
  font-family: "Lato";
}
.defis h1 {
  font-size: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
}
.defis h2 {
  font-size: 24px;
  font-weight: 700;
  color: #f9572d;
  text-align: left;
}
.defis p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #9f9f9f;
}
