.footer-container {
    height: 370px;
    width: 100vw;
    background: #626B7F;
    margin-top: 50px;
    @media (min-width: 768px) {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .footer__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        padding-top: 50px;
        @media (min-width: 768px) {
            padding-top: 25px;
        }
        .footer__list-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            margin-bottom: 20px;
            list-style: none;
            @media (min-width: 768px) {
                margin-right: 30px;
            }
            a {
                color: white;
                text-decoration: none;
                text-align: center;
                @media (min-width: 768px) {
                    text-align: left;
                }
                span {
                    font-family: "Lato";
                    font-size: 18px;
                    font-weight: 400;
                    color: white;
                }
            }
        }
        &::after {
            content: "";
            width: 80vw;
            height: 2px;
            background: white;
            margin-left: 10vw;
            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .footer__social {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
        @media (min-width: 768px) {
            margin-top: 0px;
        }
        a {
            text-align: center;
            // @media (min-width: 768px) {
            //     width: 40vw;
            // }
            span {
                font-family: "Lato";
                font-size: 18px;
                font-weight: 400;
                color: white;
            }
        }
        .footer__social--list {
            margin-left: 50vw;
            width: 30vw;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 30px;
            @media (min-width: 768px) {
                width: 10vw;
                margin-left: 50%;
            }
            &>div {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
        }
    }


}