body {
  margin: 0;
}
.explanation-container {
  height: calc(100vh);
  width: 100vw;
  position: relative;
  .explanation__status-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: 576px) {
      margin-left: 15%;
      margin-right: 15%;
    }
    @media (min-width: 768px) {
      margin-left: 20%;
      margin-right: 20%;
    }

    @media (min-width: 992px) {
      margin-left: 20%;
      margin-right: 20%;
    }
    // @media (min-width: 1100px) {
    //     margin-left: 30%;
    //     margin-right: 30%;
    // }
    @media (min-width: 1200px) {
      margin-left: 25%;
      margin-right: 25%;
    }
    img.validation-icon {
      margin-left: 50%;
      transform: translateX(-50%);
      margin-bottom: 30px;
    }
    .validation {
      font-family: 'Lato';
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      color: #fdfdfd;
      @media (min-width: 992px) {
        font-size: 32px;
      }
    }
    .explanation__text {
      margin-top: 20px;
      font-family: 'Lato';
      font-size: 18px;
      font-weight: 500;
      margin-left: 15px;
      margin-right: 15px;
      line-height: 150%;
      color: #fdfdfd;
      text-align: center;
      @media (min-width: 992px) {
        font-size: 24px;
      }
    }
  }
}
