.menu-container-mobile {
  .menu__slides-progress {
    width: 60px;
    position: relative;
    margin-right: 15px;
    z-index: -1;
    .menu__progress-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55px;
      height: 24px;
      background: #5a6175;
      border-radius: 5px;
      .menu__progress-indicator {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Lato";
        font-size: 17px;
        color: white;
        padding-bottom: 1px;
      }
    }
  }
}

.menu_sidebarleft_menu-container {
  position: absolute;
  opacity: 1;
  left: 200%;
  top: 0;
  width: 80vw;
  height: 100vh;
  background: white;
  z-index: 2;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

//to 120%

ul.menu--intra {
  padding-right: 10px;
  padding-left: 10px;
  height: 78vh;
  overflow: scroll;
  .menu--intra__title {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato";
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #f9572d;
  }
  li {
    margin-left: 15px;
    list-style: none;
    margin-bottom: 15px;
    a {
      text-decoration: none;
      color: #5a6175;
      font-family: "Lato";
      font-size: 16px;
      display: inline-block;
      :hover {
        cursor: pointer;
      }
    }
    .number {
      width: 40px;
      height: 24px;
      border-radius: 5px;
      background: #5a6175;
      display: inline-block;
      color: #ffffff;
      text-align: center;
      padding-top: 2px;
    }
    .title {
      margin-left: 15px;
    }
  }
}

.menu__sidebar__list-item {
  a {
    color: black;
  }
}
